@model IEnumerable<ObuvkaStore.Models.EntityModels.Matherials>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.matherial_ua)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.matherial_ru)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.matherial_eng)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.matherial_ua)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.matherial_ru)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.matherial_eng)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.id }) |
            @Html.ActionLink("Details", "Details", new { id=item.id }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.id })
        </td>
    </tr>
}

</table>
