@model IEnumerable<ObuvkaStore.Models.EntityModels.Categories>

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.category_ua)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.description_ua)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.category_ru)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.description_ru)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.category_eng)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.description_eng)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.category_ua)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.description_ua)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.category_ru)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.description_ru)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.category_eng)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.description_eng)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.id }) |
            @Html.ActionLink("Details", "Details", new { id=item.id }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.id })
        </td>
    </tr>
}

</table>
